<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <appSettings>

    <add key="basedir" value="C:\tmp\OIC_Monitoring\"/>
    <add key="DHPOWS_username" value="oman"/>
    <add key="DHPOWS_password" value="omanmed123"/>

    <add key="HAADWS_username" value="oman"/>
    <add key="HAADWS_password" value="meduw267"/>

    <add key="PI_PR_URL" value="http://10.162.176.206:3000/priorRequest"/>


    <add key="username_OICPayer" value="faisal"/>
    <add key="password_OICPayer" value="GdF_8j91"/>
    <add key="database_OICPayer" value="eauthmysqldb"/>
    <add key="IP_OICPayer" value="10.163.15.18"/>

    <add key="username_OICProvider" value="michael"/>
    <add key="password_OICProvider" value="Fn_jd#21"/>
    <add key="database_OICProvider" value="OIC.eAuth"/>
    <add key="IP_OICProvider" value="10.162.176.27"/>

    <add key="username_DHPO" value="FAnsari"/>
    <add key="password_DHPO" value="Mjj_u#11"/>
    <add key="database_DHPO" value="DHPO"/>
    <add key="IP_DHPO" value="10.162.176.24"/>

    <add key="username_PBMM" value="payerinteg_user"/>
    <add key="password_PBMM" value="Apy_8211"/>
    <add key="database_PBMM" value="PBMM"/>
    <add key="IP_PBMM" value="10.162.176.185"/>

    <add key="username_PBMPayer" value="pbmcheck"/>
    <add key="password_PBMPayer" value="PbMM_319!"/>
    <add key="database_PBMPayer" value="PbmPayer"/>
    <add key="IP_PBMPayer" value="10.156.62.60"/>



    <add key="Threshold_HaadWS" value="100"/>
    <add key="Threshold_DHPOWS" value="80"/>
    <add key="Threshold_OICeAuthProvider" value="120"/>
    <add key="Threshold_OICeAuthProviderPortal" value="120"/>
    <add key="Threshold_PBMM_NotPicked" value="400 "/>
    <add key="Threshold_DHPO_Exceptions" value="50"/>
    <add key="Threshold_PI_Backlog" value="4000"/>
    <add key="Threshold_DifferenceInTransaction" value="50"/>
    <add key="Threshold_PBMM_Notprocessed_OIC" value="50"/>
    <add key="Threshold_PBMM_Notprocessed_General" value="120"/>
    <add key="Threshold_ClinicialEdits_minimum" value="100"/>
    <add key="Threshold_PBMSynch_Benefit" value="1"/>
    <add key="Threshold_PBMSynch_Group" value="1"/>

    <!-- <add key="Threshold_HaadWS" value="10"/> -->
    <!-- <add key="Threshold_DHPOWS" value="10"/> -->
    <!-- <add key="Threshold_OICeAuthProvider" value="10"/> -->
    <!-- <add key="Threshold_OICeAuthProviderPortal" value="10"/> -->
    <!-- <add key="Threshold_PBMM_NotPicked" value="10"/> -->
    <!-- <add key="Threshold_DHPO_Exceptions" value="10"/> -->
    <!-- <add key="Threshold_PI_Backlog" value="10"/> -->
    <!-- <add key="Threshold_DifferenceInTransaction" value="10"/> -->
    <!-- <add key="Threshold_PBMM_Notprocessed_OIC" value="50"/>
    <add key="Threshold_PBMM_Notprocessed_General" value="120"/> -->
    <!--<add key="Threshold_PBMSynch_Benefit" value="1"/>
    <add key="Threshold_PBMSynch_Group" value="1"/>-->



    <add key="SMTP" value="Zmail.dimensions-healthcare.net"  />
    <add key="SMTPPort" value="587"  />
    <add key="password" value="$erviceJira@2017"  />
    <add key="emailID" value="qajira@dimensions-healthcare.net"  />
    <add key="tosent_emailID" value="fansari@ae.imshealth.com,ppg-support@iqvia.com,faisal.ansari@quintilesims.com,michael.aquino@quintilesims.com,mohammed.fahad@quintilesims.com,salaam.shaikh@quintilesims.com,mohamed.alabbas@quintilesims.com,mohammed.kharma@quintilesims.com,husam.abuzahra@quintilesims.com,anirudh.ranjan@quintilesims.com,lokesh.singh@quintilesims.com,yohanna.antonios@quintilesims.com"  />

  </appSettings>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebservicesSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WebservicesSoap1" />
        <binding name="ValidateTransactionsSoap" maxBufferPoolSize="2147483647"
        maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
        <binding name="ValidateTransactionsSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://shafafiya.doh.gov.ae/v2/webservices.asmx"
          binding="basicHttpBinding" bindingConfiguration="WebservicesSoap"
          contract="HaaD.WebservicesSoap" name="WebservicesSoap" />
      <endpoint address="https://dhpo.eclaimlink.ae/ValidateTransactions.asmx"
          binding="basicHttpBinding" bindingConfiguration="ValidateTransactionsSoap"
          contract="DHPO.ValidateTransactionsSoap" name="ValidateTransactionsSoap" />
    </client>
  </system.serviceModel>
</configuration>